*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body{
    background-color: #ffffff;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}
/* header-section */
header{
    /* border:2px solid black; */
    padding: 16px 120px;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    max-width: 139px;
}
.nav-links{
    display: flex;
    gap: 32px;
    list-style: none;
}
.nav-links li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}
.nav-links li a:hover{
    color: #0070f3;
}
.early-access-btn{
    display: block;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    background-color: #469165;
    padding: 12px 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
.early-access-btn:hover{
    background-color: #536d5e;
}
/* hero/banner setion */
.banner{
    padding: 115px 120px 179px 120px;
    background: linear-gradient(rgba(0, 0, 0, 0.1)), url('../assets/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-content-container{
    display: flex;
    flex-direction: column;
    /* gap: 16px; */
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner-content-container h3{
    border-radius: 1000px;
    background-color: #ffffff;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
    margin-bottom: 16px;
}
.banner-content-container h1{
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    color: #ffffff;
    margin-bottom: 16px;
}
.banner-content-container .green-text{
    color:#30B868
}
.banner-content-container p{
    /* border: 1px solid white; */
    max-width: 1360px;
    color: white;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 32px;
}
.banner-content-container .btn-container{
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-between;
    gap: 13px;
}
.banner-content-container .hero-btn{
    color: white;
    background-color: #469165;
    padding: 16px;
    border-radius: ;
    font-size: 16px;
    font-weight: 600px;
    line-height: 19px;
    border-radius: 4px;
    cursor: pointer;
}

.banner-content-container .trans-btn{
    background-color: transparent;
}
.hero-btn:hover{
    background-color: #49b676;
    color: rgb(77, 23, 127);
}
.trans-btn:hover{
    background-color: transparent;
    color:rgb(62, 125, 177);
}

/* Notes section */
.notes{
    background-color: #fbfbfb;
    padding:0px 120px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.notes h1{
    margin-top: 50px;
    margin-bottom: 16px;
    font-size: 48px;
    font-weight: bold;
    color: #001931;
}
.notes p{
    font-size: 16px;
    font-weight: 300;
    color: #627382;
    margin-bottom: 44px;
}
.notes .card-container{
    /* border:1px solid black; */
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.notes .card-container .card{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.06);
}
.card .circle{
    margin-top: 70px;
    background-color: red;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card img{
    /* border: 2px solid black; */
    max-width:32px;
    height: 32px;
}
.card h3{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
}