*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body{
    background-color: #ffffff;
    width:100%;
    max-width: 1600px;
}
/* header-section */
header{
    /* border:2px solid black; */
    padding: 16px 120px;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    max-width: 139px;
}
.nav-links{
    display: flex;
    gap: 32px;
    list-style: none;
}
.nav-links li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}
.nav-links li a:hover{
    color: #0070f3;
}
.early-access-btn{
    display: block;
    color: #ffffff;
    font-size: 16px;
    font-style: 600;
    background-color: #469165;
    padding: 12px 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
.early-access-btn:hover{
    background-color: #536d5e;
}

